.top{
	background-image: url("images/bg1.jpg");
	position: relative;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  background-attachment: fixed;
  padding-top: 13%;
  padding-bottom: 13%;
 }

 .middle{
	background-image: url("images/bg5.jpg");
	position: relative;
  background-size: cover;
  background-position: center;
  text-align: left;
  color: white;
  background-attachment: fixed;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 63%;
  padding-left: 1%;
  
 }

 .end{
	background-image: url("images/bg3.jpeg");
	position: relative;
  background-size: cover;
  background-position: center;
  text-align: right;
  color: black;
  background-attachment: fixed;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 63%;
 }

 .heading{
   text-align: center;
   padding-top: 3%;
 }
 
 .container{
   background-color: #e6e6e6;
 }

 